<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Регистрация </title>
    <link type="text/css" href="{{ url_for('static', filename='css/reg.css') }}" rel="stylesheet"/>
</head>
<body>

    <div class="registration-container">
        <h2>Зарегистрируйтесь!</h2>

        <div class="input-block">
            <input class="login-input" type="text" placeholder="Придумайте логин">
        </div>
        <div class="input-block">
            <input class="name-input" type="text" placeholder="Введите ваши фамилию и имя">
        </div>
        <div class="input-block">
            <input class="email-input" type="email" placeholder="Введите email">
        </div>
        <div class="input-block">
            <input class="password-input" type="password" placeholder="Введите пароль">
        </div>
        <div class="input-block">
            <input class="confirm-password-input" type="password" placeholder="Повторите пароль">
        </div>

        <div class="registration-buttons">
            <a href="/about"> <button class="custom-btn"> Войти </button> </a>
        </div>

    </div>

</body>
</html>
